{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<link href='../static/lib/main.css' rel='stylesheet' />
<script src='../static/lib/main.js'></script>
<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
      },
      initialDate: '2020-09-12',
      navLinks: true, // can click day/week names to navigate views
      businessHours: true, // display business hours
      editable: true,
      selectable: true,
      events: [
          {% for i in events %}
            {
                title: "{{ i.title }}",
                start: "{{ i.start|date:"Y-m-d" }}",
                end: "{{ i.end|date:"Y-m-d" }}",

                {% if i.groupId == "todo" %}
                    color: "#ffe05d"
                {% elif i.groupId == "subject" %}
                    color: "#ff9642"

                {% endif %}

            },
        {% endfor %}
      ]
    });

    calendar.render();
  });

</script>
<style>

  body {
    /* margin: 40px 10px; */
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
  }

  #calendar {
    max-width: 1100px;
    margin: 0 auto;
  }

</style>
</head>
<body>

    <div class="notepad" style="font-size: 18px;">
        {% if length_todo == 0 %}
            오늘의 할 일이 없습니다.<br>
        {% else %}
            오늘의 할 일은 {{message_todo}} 입니다.<br>
        {% endif %}

        {% if length_subject == 0 %}
            오늘의 수업이 없습니다.<br>
        {% else %}
            오늘의 수업은 {{message_subject}} 입니다.
        {% endif %}
    </div>
    <br>
    <div id='calendar'></div>
</body>
</html>
